
<div *ngIf="selectedTool">
    <h2 class="text2">Détails de l'outil</h2>
    <p class="text3"><span class="text">ID:</span> {{ selectedTool.id }}</p>
    <p class="text3"><span class="text">Nom:</span>{{ selectedTool.nom }}</p>
    <p class="text3"><span class="text">Visites:</span>{{ selectedTool.visites }}</p>
    <p class="text3"><span class="text">Enregistrement:</span>{{ selectedTool.enregistrements }}</p>
    <p class="text3"><span class="text">Partages: </span>{{ selectedTool.partages }}</p>
    <p class="text3"><span class="text">Suivis:</span>{{ selectedTool.suivis }}</p>
    <p class="text3"><span class="text">Crédibilités:</span>{{ selectedTool.credibilite }}</p>
    <p class="text3"><span class="text">Efficacité:</span>{{ selectedTool.efficacite }}</p>
    <p class="text3"><span class="text">Note:</span>{{ selectedTool.note }}</p>
    <!-- Display other tool details -->
  </div>
  
  